@model Alumno

@{
    ViewData["Title"] = "Información Alumno";
}

<body>
    
    <section class="main-section">
        
        <div class="caja">
           <h4>@ViewData["Title"]</h4>
            @* <strong>Desde vista Parcial</strong> *@
            <partial name="ObjetoEscuelaSimple">
        </div>
          
    </section>
    
</body>



