
@model IEnumerable<Evaluacion>


<body>
    
    <section class="main-section">
        <div class="caja">
            <strong>Lista de Evaluciones</strong>
            <table class="table table-dark table-hover">
                <thead >
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Id Alumno</th>
                    <th scope="col">Id Asignatura</th>
                    <th scope="col">Nota</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var evaluacion in Model)
                {
                    <tr>
                        <td>@evaluacion.Id</td>
                        <td>@evaluacion.AlumnoId</td>
                         <td>@evaluacion.AsignaturaId</td>
                        <td>@evaluacion.Nota</td>

                    </tr>
                }
                </tbody>
            </table>
        </div>
    </section>
    </div>
    
</body>