@model Asignatura 

@{
    ViewData["Title"] = "Información Asignatura";
}

<h4>Asignatura : </h4>

<strong>Desde vista Parcial</strong>
<partial name="ObjetoEscuelaSimple">

@* <strong>Desde la vista normal</strong>
<p>
   Id : @Model.Id
   Nombre : @Model.Nombre
</p> *@



