@model Asignatura 

@{
    ViewData["Title"] = "Información Asignatura";
}

<body>
   
   
    <section class="main-section">
        <div class="caja">
           <h4>Asignatura : </h4>
            <strong>Desde vista Parcial</strong>
            <partial name="ObjetoEscuelaSimple">    
        </div>
    </section>
    </div>
    
</body>












