@* @model List<Asignatura> *@



<body>
    
    <section class="main-section">
        <div class="caja">
            <strong>Lista de Grupos</strong>
            <table class="table table-dark table-hover">
                <thead >
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Jornada</th>
                  
                </tr>
                </thead>
                <tbody>
                @foreach (var curso in Model)
                {
                    <tr>
                        <td>@curso.Id</td>
                        <td>@curso.Nombre</td>
                        <td>@curso.Jornada</td>
                      
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </section>
    </div>
    
</body>